/* Framework styles */
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
@font-face {
    font-family: 'quicksandregular';
    src: url('../fonts/Quicksand-Regular-webfont.eot');
    src: url('../fonts/Quicksand-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Quicksand-Regular-webfont.woff2') format('woff2'),
    url('../fonts/Quicksand-Regular-webfont.woff') format('woff'),
    url('../fonts/Quicksand-Regular-webfont.ttf') format('truetype'),
    url('../fonts/Quicksand-Regular-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.quicksand {
    font-family: 'quicksandregular';
    letter-spacing: normal;
}
@font-face {
    font-family: 'berlin';
    src: url("../fonts/berlin.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
.berlin {
    font-family: 'berlin';
    letter-spacing: normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat-bold-webfont.eot'),
    url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-bold-webfont.woff') format('woff'),
    url('../fonts/montserrat-bold-webfont.ttf') format('truetype'),
    url('../fonts/montserrat-bold-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.montserrat {
    font-family: 'monserrat';
    letter-spacing: normal;
}
/* Common page styles */

html {

}

body {

}
h1 {
    font-size: 3vw;
}
#startImage {
    background: url("../images/startPage.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}
.cloudBackground {
    background: url("../images/cloudBackground.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}
.rockBackground {
    background: url("../images/rockBackground.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}
.blankBackground {
    background-color: white;
}
#notSupported {
    position: absolute;
    top: 15%;
    left: 33%;
    width: 33%;
}
#notSupported p {
    text-align: center;
    background-color: #004681;
    color: #ffffff;
    border-radius: 15px;
    padding: 5%;
}
.italics {
    font-style: italic;
}
.blank {
    background: none;
}
.errorMessage {
    padding: 3%;
    border-radius: 15px;
    background: #444444;
}
.noDisplay {
    display: none;
}
.centred {
    text-align: center;
}
.page {
    text-align: center;
}
.pitotiLogo {
    position: absolute;
    top: 82.5%;
    right: 2%;
    text-align: right;
}
.pitotiLogo img {
    width: 50%;
}
.home {
    position: absolute;
    bottom: 2%;
    left: 2%;
}
.homeRight {
    position: absolute;
    bottom: 3%;
    right: 5%;
}
.previousPageColumn {
    text-align: left;
    margin: 0;
}
.previousPageColumn img {
    width: 90%;
}
.previousPage {
    text-align: left;
    margin-left: 0.4%;
    margin-top: 0.4%;
}
.previousPage img {
    width: 23%;
}
.nextPageColumn {
    text-align: right;
    margin-top: 2.5%;
    margin-right: 2.5%;
}
.nextPageColumn img {
    width: 90%;
}
.nextPage {
    text-align: right;
    margin-right: 2.5%;
    margin-top: 2.5%;
}
.nextPage img {
    width: 15%;
}
.bubble {
    position: relative;
}
.bubble img {
    width: 90%;
}
.contents,
.contentsTight {
    position: absolute;
    top: 6%;
    left: 50%;
    width: 100%;
    margin-left: -50%;
}
.contentsTight {
    top: 3%;
}
.contents p {
    font-family: "montserrat", sans-serif;
    font-size: 2vw;
}
.contentsTight p {
    font-family: "montserrat", sans-serif;
    font-size: 1.6vw;
}
/* Animations */
@-moz-keyframes bounce {
    0% {
        -moz-transform: translate(0px, 0px);
    }

    50% {
        -moz-transform: translate(0px, 15%);
    }

    100% {
        -moz-transform: translate(0px, 0px);
    }
}
@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translate(0px, 0px);
    }

    50% {
        -webkit-transform: translate(0px, 15%);
    }

    100% {
        -webkit-transform: translate(0px, 0px);
    }
}
@-webkit-keyframes radiate {
    0% {
        -webkit-transform: scale(0, 0);
    }

    50% {
        -webkit-transform: scale(0.5, 0.5);
    }

    100% {
        -webkit-transform: scale(1, 1);
    }
}
@-moz-keyframes radiate {
    0% {
        -moz-transform: scale(0, 0);
    }

    50% {
        -moz-transform: scale(0.5, 0.5);
    }

    100% {
        -moz-transform: scale(1, 1);
    }
}
/* Buttons */
.actionButton,
.actionButtonSlim {
    -moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
    -webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    background-color:#7892c2;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border:1px solid #4e6096;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size: 1.6vw;
    padding:20px 37px;
    text-decoration:none;
    text-shadow:0px 1px 0px #283966;
}
.actionButtonSlim {
    padding: 10px 15px;
}
.actionButton:hover {
    background-color:#476e9e;
}
.actionButton:active {
    position:relative;
    top:1px;
}

/* PAGES */

/* Start page */

#startAzir {
    text-align: right;
}
#startAzir {
    margin-top: 3%;
}
#startAzir img {
    width: 90%;
}
#startBubble {
    text-align: left;
    margin-top: 1%;
}
#startBubble img {
    width: 70%;
}
#startButton {
    text-align: center;
    margin-top: 30%;
}
#startButton img {
    width: 25%;
}
.intro {
    -webkit-animation-name: bounce;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: bounce;
    -moz-animation-timing-function: linear;
    -moz-animation-duration: 1.5s;
    -moz-animation-iteration-count: infinite;
}
.hotSpotAnimate {
    -webkit-animation-name: radiate;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: radiate;
    -moz-animation-timing-function: linear;
    -moz-animation-duration: 1.5s;
    -moz-animation-iteration-count: infinite;
}
#start {
    margin-top: 5%;
}

/* Welcome page */
#welcomeAzir {
    margin-top: 5%;
}
#nextPage {
    text-align: right;
    margin-right: 2%;
    margin-top: -13%;
}
#nextPage img {
    width: 15%
}
#azirWelcome {
    margin-top: 25%;
}
#azirWelcome img {
    width: 100%;
}


/* Menu page */
#menuOptions {
    margin-top: 10%;
}
#menuOptions div {
    margin-bottom: 20%;
}
#menuOptions button {
    width: 75%;
}
#azirMenu {
    margin-top: 25%;
}
#azirMenu img {
    width: 100%;
}

/* About page */
#azirAbout {
    margin-top: 10%;
    margin-bottom: 5%;
}
#azirAbout img {
    width: 100%;
}
#aboutButtons {
    margin-top: 5%;
}
#aboutButtons div {
    margin-bottom: 12.5%;
}
#aboutButtons button {
    width: 85%;
}
#aboutButtons img {
    vertical-align: middle;
    width: 25%;
}


/* Overview page */
#previousPageOverview {
    text-align: left;
    margin-left: 5%;
}
#previousPageOverview img {
    width: 15%;
}
#videoOverview {
    margin-top: 5%;
}


/* Hotspots menu page */
#rockChoice {
    margin-top: 20%;
}
#rockChoice button {
    width: 75%;
}
#rockChoice div {
    margin-bottom: 20%;
}

/* Hotspots seradina page */
#hotSpotsSeradina {
    margin-top: 2.5%;
}
#hotSpotsSeradina img {
    width: 82.5%;
}

#seradinaSpot1 {
    margin-top: -85%;
    margin-left: -20%;
}
#seradinaSpot2 {
    margin-top: 12.5%;
    margin-left: -17.5%;
}
#rockTitle {
    font-family: "Calibri", sans-serif;
    font-size: 2.3vw;
}
#rockTitleContents {
    margin-right: 2%;
}
#seradina {
    margin-top: 20%;
}
#seradina img {
    width: 100%;
}

/* Seradina1 page */
#seradina1 {
    margin-top: 5%;
}
#seradina1 img {
    width: 90%;
}
#seradina1Augment,
#seradina1Augment2 {
    position: absolute;
    top: 9%;
    left: 25%;
}
#seradina1Augment img,
#seradina1Augment2 img {
    width: 90%;
}
#seradina1Stories {
    margin-top: 15%;
}
#seradina1Stories button {
    margin-bottom: 10%;
}
#ploughing {
    margin: 10% 0 0 1%;
}


/* Seradina 2 3D page */
#rotate,
#lightControls {
    margin-top: 2.5%;
}
#zoom {
    margin-top: 5%;
}
#rotate img,
#lightControls img {
    width: 40%;
}
#rotate button,
#lightControls button {
    padding: 5px 0;
    margin-bottom: 2%;
    width: 25%;
}
#zoom img {
    width: 40%;
}
#zoom button {
    padding: 5px 0;
    width: 25%;
}
#archer {
    margin: 10% 0 0 1%;
}
#seradina2Stories {
    margin-top: 3%;
}
#resetControls {
    margin-top: 3%;
}
#resetControls button {
    width: 30%;
    font-size: 1.5vw;
    padding: 6px 5px;
}


/* Hotspots Foppe page */
#hotSpotsFoppe {
    margin-top: 5%;
}
#hotSpotsFoppe img {
    width: 92.5%;
}
#foppeSpot1 {
    margin-top: -75%;
    margin-left: -37.5%;
}
#foppeSpot2 {
    margin-top: -12.5%;
    margin-left: -40%;
}
#foppeSpot3 {
    margin-top: -22%;
    margin-left: -15%;
}
#foppe {
    margin-top: 20%;
}
#foppe img {
    width: 100%;
}
#rockFace {
    margin-top: 1%;
    width: 80%;
}

/* Foppe1 page */
#foppe1 img {
    width: 100%;
}
#foppe1Stories {
    margin-top: 15%;
}
#foppe1Stories button {
    margin-bottom: 10%;
}

/* Foppe2 page */
#foppe2 {
    margin-top: 5%;
}
#foppe2 img {
    width: 100%;
}

/* Foppe3 page */
#foppe3 {
    margin-top: 5%;
}
#foppe3 img {
    width: 100%;
}

/* General hotspots */
#hotSpots {

}
#hotSpots img {
    width: 15%;
}


/* Create page */
#instructions {
    background: url("../images/markerPage.png") no-repeat center center fixed;
    background-size: cover;
}
#instructionArrows {
    margin-top: 30%;
}



/* AR page */
#ARoutput {
    margin-top: 5%;
}
.drop img {
    width: 100%;
}
#nextARPage {

}
#clipTray {
    position: relative;
}
#clipTrayImage {
    width: 75%;
}
img[id^="slot"] {
    position: absolute;
    width: 31%;
    border-radius: 10px;
}
#slot0 {
    top: 3%;
    left: 17%;
}
#slot1 {
    top: 27%;
    left: 17%;
}
#slot2 {
    top: 51%;
    left: 17%;
}
#slot3 {
    top: 75%;
    left: 17%;
}
#slot4 {
    top: 3%;
    left: 52%;
}
#slot5 {
    top: 27%;
    left: 52%;
}
#slot6 {
    top: 51%;
    left: 52%;
}
#slot7 {
    top: 75%;
    left: 52%;
}
.trash {
    margin-top: 25%;
    text-align: left;
}
.trash img {
    width: 50%;
}
#azirAR {
    overflow: hidden;
    margin-left: -25%;
    text-align: center;
}
#azirAR img {
    width: 110%;
}
#ARbuttons {
    margin-top: 5%;
}



/* Timeline page */
.dragVideo {
    width: 171px;
}
.dragTrash {

}
#vidFrame {
    position: relative;
}
#vidFrame img {
    width: 90%;
}
#videoPlayer {
    position: absolute;
    top: 10%;
    left: 11%;
}
#playStory,
#pauseStory {
    margin-top: 5%;
}
#playStory img,
#pauseStory img {
    width: 30%;
}
.dragging {
    font-size: 1.3vw;
    color: red;
}
#vidControls {
    margin-top: -10%;
}
#vidControls img {
    width: 12.5%;
}
#timeline {
    position: relative;
}
#timeline img {

}
#frame {
    width: 100%;
}
img[id^="timeline"] {
    position: absolute;
    width: 22.5%;
    border-radius: 10px;
}
#timeline0 {
    top: 10%;
    left: 2%;
}
#timeline1 {
    top: 10%;
    left: 26.5%;
}
#timeline2 {
    top: 10%;
    left: 51%;
}
#timeline3 {
    top: 10%;
    left: 75.5%;
}
#buttons0 {
    margin-bottom: 3%;
}
#azirTimeline {

}
#timeTrash {
    margin-top: 2.5%;
}
#timeTrash img {
    width: 45%;
}
#micContainer {

}
#micContainer img {
    width: 50%;
}
#azirTimeline img {
    width: 100%;
}
.notActive {
    pointer-events: none;
    cursor: default;
}
#progressContainer {

}
#progressContainer progress {
    width: 100%;
}
#finalControls button {
    margin-bottom: 5%;
}


/* Record page */
#storyControls {
    text-align: left;
}
#storyControls p {
    color: white;
    font-family: Arial;
    font-size: 1.7vw;
    padding: 3%;
    background-color: #7892c2;
    border-radius: 15px;
    text-align: center;
}
#nextPageRecord {
    text-align: right;
    margin-right: 2%;
}
#playStoryRecord {
    text-align: left;
}
#playStoryRecord img {
    width: 90%;
}
#audioRecordLabel {
    text-align: left;
}
#recordStory {
    text-align: left;
}
#recordStory img {
    width: 90%;
}
#azirRecord {

}
#azirRecord img {
    width: 100%;
}
#audioRecordings img {
    width: 7%;
    vertical-align: middle;
}
#buttonContainer {
    margin-top: 2.5%;
    text-align: left;
}
#buttonContainer img {
    width: 15%;
    vertical-align: middle;
}
#buttonContainer button {
    width: 40%;
    padding: 5px 0;
}
#audioButton {
    margin-top: 5%;
}
#audioProgress {
    width: 100%;
}


/* Final page */
#playStoryFinal {

}
#playStoryFinal img {
    width: 75%;
}
#createFinal {
    text-align: left;
}
#createFinal img {
    width: 75%;
}
#emailFinal {
    text-align: right;
}
#emailFinal img {
    width: 75%;
}
#scan {
    margin-top: 60%;
}

#space0 {
    margin-left: 11%;
}
.strip img {
    width: 100%;
}
#recorderContainer {
    margin-top: 2%;
}
#audioRecordings {
    list-style-type: none;
}
#audioRecordings img {
    padding: 0 5px 5px 0;
}
#gotoFinal {
    margin-top: 45%;
}
#triggerVideo {
    position: absolute;
    top: 0;
    left: 0;
}
#uploadStatus {
    padding: 5% 0;
    background-color: #7892c2;
    text-align: center;
    border-radius: 10px;
    color: white;
    font-family:Arial;
    font-size:19px;
}
input[type=file] {
    display: none;
}
/* Configure page */
#configureEntry {
    margin-top: 15%;
    background-color: #7892c2;
    border-radius: 15px;
}
#configureEntry p {
    color: white;
    font-family: Arial;
    font-size: 1.7vw;
    padding: 5% 0;
}
#configureEntry button {
    margin: 0 3%;
}
#enterDetails {
    padding: 3% 0;
    color: #ffffff;
}
#enterDetails input {
    margin-bottom: 2.5%;
    color: #000000;
    border-radius: 5px;
}

/* Thanks page */
#home {
    margin-top: 30%;
}


/* Story page */
#storyTitle {
    font-family: "montserrat", sans-serif;
    text-align: center;
    margin: 2% 0;
}
form button {
    margin: 3% 0;
}
#storyInfo {

}
#storyInfo p {
    font-family: "montserrat", sans-serif;
    text-align: center;
    font-size: 1.8vw;
}
#stories {
    margin-top: 3%;
}
#stories p {
    font-size: 1.4vw;
}