/* Framework styles */
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
@font-face {
    font-family: 'quicksandregular';
    src: url('../fonts/Quicksand-Regular-webfont.eot');
    src: url('../fonts/Quicksand-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Quicksand-Regular-webfont.woff2') format('woff2'),
    url('../fonts/Quicksand-Regular-webfont.woff') format('woff'),
    url('../fonts/Quicksand-Regular-webfont.ttf') format('truetype'),
    url('../fonts/Quicksand-Regular-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.quicksand {
    font-family: 'quicksandregular';
    letter-spacing: normal;
}

html {
    background: url("../images/rock1.jpg") no-repeat center center fixed;
    background-size: cover;
}

#AR{
    margin: 0;
    padding: 0;
    margin-top: 20px;
    text-align: center;
}
#WebGL-output {
    /* set margin to 0 and overflow to hidden, to go fullscreen */
    margin: 0;
    overflow: hidden;
}
#notSupported {
    position: fixed;
    top: 40%;
    left: 35%;
    width: 25%;
}
.errorMessage {
    padding: 3%;
    border-radius: 15px;
    background: #444444;
}
.hide {
    display: none;
}
.title {
    font-size: 2em;
    margin: 3%;
}
.bigTitle {
    font-size: 4em;
    margin: 5%;
}
.subTitle {
    font-size: 1.5em;
    margin: 2%;
}
.heavy {
    font-weight: bold;
}
.smallText {
    font-size: 0.7em;
}
.smallMediumText {
    font-size: 1.8em;
}
.normalText {
    font-size: 1.2em;
}
.mediumText {
    font-size: 2.5em;
}
.bigText {
    font-size: 4.5em;
    -webkit-text-fill-color: #EE4355;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #EE4355;
}
.superBigText {
    font-size: 10em;
    font-weight: 300;
}
.centred {
    text-align: center;
}


/* id's */
#mainTitle {
    margin: 3% 0 5% 0;
}
#mainTitle img {
    width: 75%;
}
#WebGL-output {
    position: fixed;
    top: 40%;
    left: 25%;
}

/* AR stuff */
.goRight {
    text-align: right;
}
.goLeft {
    text-align: left;
}
.navigate {
    width: 50%;
}
.filmStrip {
    background: white;
}
.filmStrip div {
    border: 1px solid black;
}
.filmStrip {
    min-height: 200px;
}
#spacer {
    margin-left: 11%;
}
.strip img {
    width: 100%;
}
#recorderContainer {
    margin-top: 2%;
}
#audioRecordings {
    list-style-type: none;
}
#audioRecordings img {
    padding: 0 5px 5px 0;
}