/* Framework styles */
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
@font-face {
    font-family: 'quicksandregular';
    src: url('../fonts/Quicksand-Regular-webfont.eot');
    src: url('../fonts/Quicksand-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Quicksand-Regular-webfont.woff2') format('woff2'),
    url('../fonts/Quicksand-Regular-webfont.woff') format('woff'),
    url('../fonts/Quicksand-Regular-webfont.ttf') format('truetype'),
    url('../fonts/Quicksand-Regular-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.quicksand {
    font-family: 'quicksandregular';
    letter-spacing: normal;
}

/* Common page styles */
body {
    background: url("../images/rock1.jpg") no-repeat center center fixed;
    background-size: cover;
}

.page {
    text-align: center;
}
.bubble {
    position: relative;
}
.contents {
    position: absolute;
    top: 2%;
    left: 50%;
    width: 100%;
    margin-left: -50%;
}
.contents p {
    font-family: "Calibri", sans-serif;
    font-size: 1.3vw;
}
/* Start page */
#startPage img {
    width: 35%;
}
/* Animations */
@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translate(0px, 0px);
    }

    50% {
        -webkit-transform: translate(0px, 15%);
    }

    100% {
        -webkit-transform: translate(0px, 0px);
    }
}
.intro {
    -webkit-animation-name: bounce;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
}
#start {
    margin-top: 5%;
}

/* Welcome page */
#welcomePage img {
    width: 65%;
}
#welcomeAzir {
    margin-top: -10%;
}
#welcomeAzir img {
    width: 40%;
}
#nextPage img {
    width: 50%
}

/* Menu page */
#logoMenu img {
    width: 70%;
}
#aboutOption {
    margin-top: 70%;
}
#createOption {
    margin-top: 10%;
}

/* About page */






#stories {
    background: none;
    background-color: #ffffff;
}
#AR{
    margin: 0;
    padding: 0;
    margin-top: 20px;
    text-align: center;
}

.errorMessage {
    padding: 3%;
    border-radius: 15px;
    background: #444444;
}
.hide {
    display: none;
}
.title {
    font-size: 2em;
    margin: 3%;
}
.bigTitle {
    font-size: 4em;
    margin: 5%;
}
.subTitle {
    font-size: 1.5em;
    margin: 2%;
}
.heavy {
    font-weight: bold;
}
.smallText {
    font-size: 0.7em;
}
.smallMediumText {
    font-size: 1.8em;
}
.normalText {
    font-size: 1.2em;
}
.mediumText {
    font-size: 2.5em;
}
.bigText {
    font-size: 4.5em;
    -webkit-text-fill-color: #EE4355;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #EE4355;
}
.superBigText {
    font-size: 10em;
    font-weight: 300;
}
.centred {
    text-align: center;
}


/* Main page */





/* Welcome */


#seradina {
    margin-left: -10%;
    margin-top: 30%;
}
#seradina img {
    width: 100%;
}
#rockFace {
    margin-top: 1%;
}
#rockFace img {
    width: 80%;
}
#WebGL-output {
    position: fixed;
    top: 40%;
    left: 25%;
}
.back {
    margin-top: 1%;
}
.back img {
    width: 50%;
}
.actionButton {
    -moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
    -webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    background-color:#7892c2;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border:1px solid #4e6096;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:19px;
    padding:12px 37px;
    text-decoration:none;
    text-shadow:0px 1px 0px #283966;
}
.actionButton:hover {
    background-color:#476e9e;
}
.actionButton:active {
    position:relative;
    top:1px;
}
#scan {
    margin-top: 60%;
}
#area3 {
    margin-top: 20%;
}
#listen {
    margin-left: -50%;
    margin-top: 150%;
}
/* AR stuff */
.goRight {
    text-align: right;
}
.goLeft {
    text-align: left;
}
.navigate img {
    width: 75%;
}
.filmStrip {
    background: white;
}
.filmStrip div {
    border: 1px solid black;
}
.filmStrip {
    min-height: 200px;
}
.filmStrip img {
    min-height: 200px;
}
#space0 {
    margin-left: 11%;
}
.strip img {
    width: 100%;
}
#recorderContainer {
    margin-top: 2%;
}
#audioRecordings {
    list-style-type: none;
}
#audioRecordings img {
    padding: 0 5px 5px 0;
}
#gotoFinal {
    margin-top: 45%;
}
#triggerVideo {
    position: absolute;
    top: 0;
    left: 0;
}
.trash {
    margin-top: 5%;
}



